button {
    width: 100%;
    box-sizing: border-box;

    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #353569;
    padding: 10px;
    background-color: #fbcd07;
}

button:hover {
    cursor: pointer;
}

button + button {
    margin-top: 20px;
}