.blue {
    background-color: #8585ff;
}

.red {
    background-color: #d85d5d;
}

.yellow {
    background-color: #e0df48;
}

.white {
    background-color: #f1f1ff;
}

.green {
    background-color: #4cce5f;
}

.purple {
    background-color: #874cce;
}

.brown {
    background-color: #c3913b;
}

.black {
    background-color: #2e312f;
}